.result-name-card{
    color:white;
    background-color: brown;
    margin: 10px 15px;
    min-width: 75px;
    padding: 10px 20px;
    transition: background 0.35s;
    display: flex;
    justify-content: center;
}
.result-name-card:hover{
    background-color: orange;
}
.rescard{
    margin: 0;
    font-weight: 100;
}